@{
    Layout = "~/Views/Shared/_RegisterdPatientLoginLayout.cshtml";
}
@model HalloDoc.Entities.ViewModels.CreateAccountViewModel

@{
    if (TempData["Mail"] != null)
    {
        <p class="text-success text-center fs-4">@TempData["Mail"]</p>
    }
   

}

<div class="backkButton">
    <i class="bi bi-chevron-left SiteColor"></i>
    <a asp-controller="Custom" asp-action="RegisterdPatientLogin" class="SiteColor">Back</a>

</div>
<div class="text-center ">

    <div class="login">
        <h3 class="mainHeading">
            Reset Your Password
        </h3>
    </div>

    <form asp-controller="Custom" asp-action="ResetpasswordRequest" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class=" form-floating form-group">
            <i class="bi bi-person-circle loginIconfrom"></i>
            <input asp-for="Email" type="text" id="email" class="form-control " placeholder=" " />
            <label for="email">Username</label>
            <span class="text-danger"></span>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>


        <div class="input-group d-flex justify-content-between">
            <input type="submit" class="SiteButton  px-4 py-2 w-100 " style="text-decoration:none;color:white;border:none" value="Reset Password" />
        </div>
    </form>



    <div class="forgot ">
        <small>
            <a asp-controller="Custom" asp-action="RegisterdPatientLogin" class="forgot  SiteColor">
                <i class="bi bi-chevron-left SiteColor"></i>

                Back To Login
            </a>
        </small>
    </div>

</div>
