<main class="mainSectionMargin">
    <div class="container-fluid dashboardMain ">
        <div>
           
            <div class="row cardRow g-2 ">
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign1 " id="New" data-view-name="_NewPartialView">
                        <div class="row">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">1492</strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign2  " id="Pending" data-view-name="_PendingPartialView">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">PENDING</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">1492</strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign3  " id="#Active">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">ACTIVE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">266</strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign4  " id="#Conclude">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">CONCLUDE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">66</strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign5  " id="#ToClose">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">TO CLOSE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">12</strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign6  " id="#Unpaid">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">UNPAID</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint">1492</strong>

                            </div>
                        </div>
                    </button>
                </div>

            </div>
            @* table *@

            <div class="row mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="sectionHeading">
                        <strong class="tableHead ">
                            <h3 class="">Patients</h3>
                            <h5 style="color:#203e84;font-size:14px" class="">(Pending)</h5>
                        </strong>
                    </div>
                    <div class="dashboardLinks d-flex flex-row-reverse flex-wrap " style="float:right">
                        <a href="#" class="mainTextLink">Send Link</a><i class="bi bi-send iconLink"></i>
                        <a href="#" class="mainTextLink">Create Requests</a><i class="bi bi-file-earmark iconLink"></i>
                        <a href="#" class="mainTextLink">Export</a><i class="bi bi-arrow-up-right iconLink"></i>
                        <a href="#" class="mainTextLink">Export All</a><i class="bi bi-share-fill iconLink"></i>
                        <a href="#" class="mainTextLink">Request DTY Support</a><i class="bi bi-person-walking iconLink"></i>
                    </div>
                </div>

            </div>

            <div id="admindata"></div>
        </div>
    </div>
</main>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }
 
        $(document).ready(function () {
            load();
            $('#New').click(function () {
                $.ajax({
                    url: "/Admin/New",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

        $('#Pending').click(function () {
                $.ajax({
                    url: "/Admin/Pending",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Active').click(function () {
                $.ajax({
                    url: "/Admin/Active",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Conclude').click(function () {
                $.ajax({
                    url: "/Admin/Conclude",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });


            $('#ToClose').click(function () {
                $.ajax({
                    url: "/Admin/ToClose",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Unpaid').click(function () {
                $.ajax({
                    url: "/Admin/Unpaid",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });
        });

    function load() {
        $.ajax({
            url: "/Admin/New",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#admindata").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#admindata").html('An error has occurred');
            }
        });
    }

</script>