<main class="mainSectionMargin">
    <div class="container-fluid dashboardMain ">
        <div class="container-fluid">
           @* cards *@
            
            <div class="row g-4 ">
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                   <div class="cards cardDesign1 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                               <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <div class="cards cardDesign2 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <div class="cards cardDesign3 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <div class="cards cardDesign4 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <div class="cards cardDesign5 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <div class="cards cardDesign6 p-2">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong>NEW</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong>1492</strong>

                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            @* tables *@

            <div class="row mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="sectionHeading">
                        <strong>
                            <h3>Patients</h3>
                            <h5 style="color:#203e84">(Pending)</h5>
                        </strong>
                    </div>
                    <div class="dashboardLinks d-flex flex-wrap">
                        
                        <a href="#" class="mainTextLink">Send Link</a><i class="bi bi-send iconLink"></i>
                        <a href="#" class="mainTextLink">Create Requests</a><i class="bi bi-file-earmark iconLink"></i>
                        <a href="#" class="mainTextLink">Export</a><i class="bi bi-arrow-up-right iconLink"></i>
                        <a href="#" class="mainTextLink">Export All</a><i class="bi bi-share-fill iconLink"></i>
                        <a href="#" class="mainTextLink">Request DTY Support</a><i class="bi bi-person-walking iconLink"></i>

                    </div>
                </div>
              
            </div>
            

            <div class="row mt-3">
                <div class="d-flex justify-content-between">
                   <div>
                        <input type="search" value="search" />
                        <input type="search" value="search" />
                   </div>
                   <div>
                       <button>All</button>
                        <button>All</button>
                        <button>All</button>
                        <button>All</button>
                        <button>All</button>

                       <button>All</button>
                   </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        </div>
    </div>
</main>