@model EmailLogViewModel;

<div class=" mx-5 " style="margin-top:120px;">
    <div class="d-flex flex-column align-items-center justify-content-center ">


        <div class="w-100 d-flex justify-content-between align-items-center ">
            <h3>Email Logs</h3>
            <a href="##" onClick="history.go(-1); return false;" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>

        <div class="p-5 shadow mb-3  rounded h-100 w-100 ">
            <form>

            <div class="row d-flex justify-content-between align-items-center">
                
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="has-search form-floating">

                        <select id="professionType" class="form-select form-select-sm " style="height:40px" aria-label="Default select example" asp-for="RoleId">
                            <option value="0" selected>All</option>

                            @foreach (var type in Model.role)
                            {
                                <option value="@type.RoleId">@type.Name</option>
                            }
                        </select>
                        <label for=" ">Role</label>
                    </div>
                        <span asp-validation-for="RoleId" class="text-danger"></span>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 ">
                    <div class="form-group  form-floating has-search mb-1">
                      
                        <input type="text" class="form-control w-100" placeholder="Search" id="search-inputReciver">
                        <label for=" ">Reciver Name</label>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 ">
                    <div class="form-group  form-floating has-search mb-1">
                        <input type="text" class="form-control w-100" placeholder="Search" id="search-inputEmail">
                        <label for=" ">Email ID</label>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 ">
                    <div class="form-group  form-floating has-search mb-1">
                        <input type="date" class="form-control w-100" placeholder="Search" id="search-inputCreatedDate">
                        <label for=" ">Created Date</label>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 ">
                    <div class="form-group form-floating  has-search mb-1">
                        <input type="date" class="form-control w-100" placeholder="Search" id="search-inputSentDate">
                        <label for=" ">Sent Date</label>

                    </div>
                </div>




                <div class="col-lg-2 col-md-6 col-sm-12 d-flex justify-content-end align-items-center">
                    <a class="btn btn-info" href="@Url.Action("AddVendor","Admin") ">Search</a>
                    <button class="btn btn-outline-info" type="reset">Clear</button>

                </div>
            </div>
            </form>
            <div class="row mt-2">
                <div id="admindata" class="mb-5"></div>

            </div>
        </div>
    </div>
</div>

@* <script>

    var professionType;
    var VendorName;

    $("#search-input").on('input', function () {
        VendorName = $(this).val();

        load();
    });

    $(document).ready(function () {
        load();

    });
    function load() {


        $.ajax({
            url: "/Admin/VendorTable",
            type: "POST",
            data: { VendorProfessionTypeId: professionType, VendorName: VendorName },
            dataType: "html",
            success: function (data) {
                $("#admindata").html(data);
                url = "/Admin/VendorTable";
            },
            error: function () {
                alert("No Projects Found");
                $("#admindata").html('An error has occurred');
            }
        });
    }
    $("#professionType").on("input", function () {


        professionType = $(this).val();
        load();

    })
</script> *@
