@model HalloDoc.Entities.ViewModels.EncounterViewModel
@inject IHttpContextAccessor HttpContextAccessor

<div class="mainSectionMargin ">
    <div class="d-flex flex-column align-items-center justify-content-center ">

        <div class="PatientInfo d-flex justify-content-between align-items-center mb-2">
            <h3>Encounter Form</h3>
            <a asp-action="Dashboard" asp-controller="Admin" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>
        <div class="p-4  mb-3 rounded formshadow h-100 PatientInfo">
            <form asp-controller="Admin" asp-action="EncounterForm" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder=" "  >
                            <label for=" ">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="LastName" type="text" class="form-control" placeholder=" "  >
                            <label for=" ">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Location" type="text" class="form-control" placeholder=" "  >
                            <label for=" ">Location</label>
                            <span asp-validation-for="Location" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="DateOfBirth" type="date" class="form-control" placeholder=" "  >
                            <label for=" ">Date Of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Date" type="date" class="form-control" placeholder=" "  >
                            <label for=" ">Date </label>
                            <span asp-validation-for="Date" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="PhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" class="edit"  />

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">Email</label>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="HistoryOfPresentIllness" class="form-control " id="textAreaExample2" style="height: 100px;" rows="4" placeholder=" "  ></textarea>
                            <label class="form-label fs-6" for="textAreaExample2">
                                HistoryOfPresentIllness

                            </label>
                            <span asp-validation-for="HistoryOfPresentIllness" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="MedicalHistory" class="form-control " id="textAreaExample2" style="height: 100px;" rows="4" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                MedicalHistory

                            </label>
                            <span asp-validation-for="MedicalHistory" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Medications" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Medications

                            </label>
                            <span asp-validation-for="Medications" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Allergies" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Allergies

                            </label>
                            <span asp-validation-for="Allergies" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-floating form-group">
                            <input asp-for="Temp"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">Temp</label>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-floating form-group">
                            <input asp-for="Hr"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">Hr</label>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-floating form-group">
                            <input asp-for="Rr"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">RR</label>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-floating form-group">
                            <input asp-for="BloodPressureSystolic"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">BloodPressureSystolic</label>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-floating form-group">
                            <input asp-for="BloodPressureDiastolic"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">BloodPressureDiastolic</label>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-floating form-group">
                            <input asp-for="o2"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">o2</label>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-floating form-group">
                            <input asp-for="Pain"
                                   id="patientEmail"   type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" "  >
                            <label for=" ">Pain</label>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Heent" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Heent

                            </label>
                            <span asp-validation-for="Heent" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Cv" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                CV

                            </label>
                            <span asp-validation-for="Cv" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Chest" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Chest

                            </label>
                            <span asp-validation-for="Chest" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="ABD" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                ABD

                            </label>
                            <span asp-validation-for="ABD" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Extr" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Extr

                            </label>
                            <span asp-validation-for="Extr" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Skin" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Skin

                            </label>
                            <span asp-validation-for="Skin" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Neuro" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Neuro

                            </label>
                            <span asp-validation-for="Neuro" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Other" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Other

                            </label>
                            <span asp-validation-for="Other" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Diagnosis" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Diagnosis

                            </label>
                            <span asp-validation-for="Diagnosis" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="TreatmentPlan" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                TreatmentPlan

                            </label>
                            <span asp-validation-for="TreatmentPlan" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="MedicationsDispensed" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                MedicationsDispensed

                            </label>
                            <span asp-validation-for="MedicationsDispensed" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Procedures" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Procedures

                            </label>
                            <span asp-validation-for="Procedures" class="text-danger"></span>

                        </div>
                    </div><div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-floating form-group ">
                            <textarea asp-for="Followup" class="form-control " id="textAreaExample2" style="height: 60px;" rows="2" placeholder=" "  ></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Followup

                            </label>
                            <span asp-validation-for="Followup" class="text-danger"></span>

                        </div>
                    </div>

                    <input type="hidden" asp-for="RequestID" />
                    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
                        <input type="button"   style=" color: white;" class="btn btn-info savechanges m-2" value="Save Changes">
                        @if(@HttpContextAccessor?.HttpContext?.Session.GetString("AdminSession") !=null)
                        {

                        <input type="button"  style=" background-color: purple;color: white;width: 90px;height: 50px;" class="btn m-2" value="Finalize" disabled>
                        }
                        <a type="button" asp-action="Dashboard" asp-controller="Admin"   class="btn btn-outline-info align-items-center m-2" value="Cancel">
                            Cancle
                            </a>

                        
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
   
    if (localStorage.getItem("Mytheme")) {
        body.classList.toggle(localStorage.getItem("Mytheme"));
    }

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    var flag = document.getElementsByClassName('iti__selected-flag');
    window.onload = function () {


        var input = document.querySelector("#phone");
        input.removeAttribute("title");


    }
    $('.savechanges').click(function () {
        var form = $(this).closest('form');
      
        $.ajax({
            type: "POST",
            dataType: "html",
            data: form.serialize(),
            url: "@(Url.Action("EncounterFormSaveChanges", "Admin"))",
        });
    });

  
</script>