@model HalloDoc.Entities.ViewModels.ProviderInfoViewModel;
@{
    ViewBag.providers = "active";
    ViewData["Title"] = "Provider";

}
<div class="mainContent2 mx-auto ">
    <div class="d-flex flex-column align-items-center justify-content-center ">


        <div class="PatientInfo d-flex justify-content-between align-items-center">
            <h3>Provider Information</h3>
            <a asp-action="Dashboard" asp-controller="Admin" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>

        <div class="p-5 shadow mb-3  rounded h-100 PatientInfo">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="has-search ">
                        <div class="form-floating form-group">
                        <select style="height:38px;" id="allregionsearch" class="form-select form-select-sm " aria-label="Default select example" aria-height="5vh" asp-for="RegionId">
                            <option value="0" selected>All Regions</option>

                            @foreach (var region in Model.Regions)
                            {
                                <option value="@region.RegionId">@region.Name</option>
                            }
                        </select>
                            <label>State</label>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end align-items-center">
                    <a class="btn btn-info" href="@Url.Action("CreateProvider","Admin") ">Create Provider Account</a>
                </div>
            </div>
            <div class="row mt-2">
                <div id="admindata" class="mb-5"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contactProviderMODEL" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            
        </div>
    </div>
</div>


<script>


    
    var regionId;
    var page; 

    $(document).ready(function () {
        load();
       
    });
    function changepage(CurrentPage) {
        page = CurrentPage;
        load();
    }
    function load() {

        $.ajax({
            url: "/Admin/ProviderInformation",
            type: "POST",
            data: { RegionId: regionId, CurrentPage :page},
            dataType: "html",
            success: function (data) {
                $("#admindata").html(data);
                url = "/Admin/ProviderInformation";
            },
            error: function () {
                alert("No Projects Found");
                $("#admindata").html('An error has occurred');
            }
        });
    }
    $("#allregionsearch").on("input", function () {
      

        regionId = $(this).val();
        load();
        
    })
</script>
