@model HalloDoc.Entities.ViewModels.UserAccessViewModel;
@{
    ViewBag.access = "active";
    ViewData["Title"] = "User Access";

}
<div class="mainContent2 mx-auto ">
    <div class="d-flex flex-column align-items-center justify-content-center ">


        <div class="PatientInfo d-flex justify-content-between align-items-center">
            <h3>User Access</h3>
            <a asp-action="Dashboard" asp-controller="Admin" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>

        <div class="p-5 shadow mb-3  rounded h-100 PatientInfo">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="has-search ">
                        <div class="form-floating form-group">
                        <select asp-for="@Model.AccountTypeId" style="height:55px;" id="accountType" class="form-select form-select-sm " aria-label="Default select example" aria-height="5vh">
                            <option value="" selected>All</option>
                            <option value="2">Admin</option>
                            <option value="1">Physician</option>

                        </select>
                        <label>Account Type</label>
                        <span asp-validation-for="AccountTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               
               <div class="d-flex justify-content-end align-items-center col-lg-6 col-md-6 col-sm-6">
                    
                        <a class="btn btn-info providerBtn" href="@Url.Action("CreateProvider","Admin") " style="display:none">Create Provider Account</a>
                   
                        <a class="btn btn-info adminBtn" style="display:none" href="@Url.Action("CreateAdmin","Admin") ">Create Admin Account</a>
                  
               </div>
                
            </div>
            <div class="row mt-2">
                <div id="admindata" class="mb-5"></div>


            </div>
        </div>
    </div>
</div>

<script>


    var accountType=null;
    var page;

    $(document).ready(function () {
        load();
        
    });
    function changepage(CurrentPage) {
        page = CurrentPage;
        load();
    }
    function load() {
        if (accountType == 2) {
            document.getElementsByClassName("adminBtn")[0].style.display = "block";
            document.getElementsByClassName("providerBtn")[0].style.display = "none";

            console.log(accountType, "in");
        } else if (accountType == 1) {
            document.getElementsByClassName("providerBtn")[0].style.display = "block";
            document.getElementsByClassName("adminBtn")[0].style.display = "none";

            console.log(accountType, "in");


        }
        else {
            document.getElementsByClassName("adminBtn")[0].style.display = "none";
            document.getElementsByClassName("providerBtn")[0].style.display = "none";

        }

        $.ajax({
            url: "/Admin/UserAccessTable",
            type: "POST",
            data: {AaccountTypeId: accountType,CurrentPage:page },
            dataType: "html",
            success: function (data) {
                $("#admindata").html(data);
               
            },
            error: function () {
                alert("No Projects Found");
                $("#admindata").html('An error has occurred');
            }
        });
    }
    $("#accountType").on("input", function () {


        accountType = $(this).val();
       
        load();

    });
</script>
