@model HalloDoc.Entities.ViewModels.ViewCaseViewModel
<div class="modal fade" id="AssignCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <p>fcg</p>
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="mainSectionMargin ">
    <div class="d-flex flex-column align-items-center justify-content-center ">

        <div class="PatientInfo d-flex justify-content-between align-items-center mb-2">
            <h3>New Request</h3>
           @*  <a asp-action="Dashboard" asp-controller="Admin" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a> *@
            <a href="##" onClick="history.go(-1); return false;"> Return to client detail</a>
        </div>
        <div class="p-4  mb-3 rounded formshadow h-100 PatientInfo">
            <form asp-controller="Admin" asp-action="ViewCase" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="requestclientID" />
                <h3>Patient Information</h3>
                <div>
                    <small>Conformation Number</small>
                    <h2 style="color:#00bbe8">MD123PA897</h2>
                </div>
                <div class="form-floating form-group ">
                    <textarea asp-for="Symptoms" class="form-control " id="textAreaExample2" style="height: 120px;" rows="8" placeholder=" "  readonly></textarea>
                    <label class="form-label" for="textAreaExample2">
                       Patient Notes
                    </label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>

                </div>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="LastName" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="DateOfBirth" type="date" class="form-control" placeholder=" " readonly>
                            <label for=" ">Date Of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="PhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" class="edit" required readonly/>

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"
                                   id="patientEmail" onblur="AlertName()" type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" " required readonly>
                            <label for=" ">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-12">
                        <input type="button" id="edit-button" style=" color: white;width: 90px;height: 50px;" class="btn btn-info  p-2 m-2" value="Edit">


                        <input type="submit" class="btn btn-info p-2 m-2" style=" color: white;width: 90px;height: 50px;display:none; " value="Save" disabled />
                    </div>
                </div>

               

                <h3> Location Information</h3>

                <div class="row ">

                   
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="State" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Region</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Address" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Address</label>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Room No.</label>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-12 d-flex " style="justify-content:flex-end;align-items:center">
                        @if(@Model.status==1)
                        {
                            <button data-bs-toggle="modal" type="button" data-bs-target="#AssignCase" id="@Model.requestclientID" class="btn Assign  btn-info" type="button">

                                Assign

                            </button>
                        }
                      
                        <a asp-controller="admin" asp-action="ViewNotes" asp-route-Id="@Model.requestclientID" class="btn ">
                            <button type="button" class="createNewReqBtn">
                                View Notes
                            </button>
                        </a>
                        <a asp-controller="admin" asp-action="Dashboard" class="btn ">
                            <button type="button" class="btn btn-danger createNewReqBtn">
                                Cancle
                            </button>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $('.Assign').click(function () {
        var id = this.id;
        console.log(id);

        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("AssignCase", "Admin"))",
            success: function (data) {
                console.log("abc",data);
                $("#AssignCase").find('.modal-content').html(data);
                console.log("hello")
            },
            error: function () {
                console.log("error");
            }
        });
    });
    

    if (localStorage.getItem("Mytheme")) {
        body.classList.toggle(localStorage.getItem("Mytheme"));
    }

    const phoneInputField = document.querySelector("#phone");

    const phoneInput = window.intlTelInput(phoneInputField, {
        autoInsertDialCode: true,
        fixDropdownWidth: true,
        formatOnDisplay: false,
        defaultToFirstCountry: true,
        initialCountry: "in",
        nationalMode: false,
        useFullscreenPopup: false,
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

    });
    $('#phone').attr('value', "+91");
   //save-edit button
    var editButton = document.getElementById("edit-button");
    editButton.addEventListener("click", function () {
        var form = editButton.closest("form");
        var inputs = form.querySelectorAll(".edit");
        var saveButton = form.querySelector("input[type='submit']");
        inputs.forEach(function (input) {
            input.removeAttribute("readonly");
        });
        saveButton.removeAttribute("disabled");
        saveButton.style.display = "block";

        editButton.style.display = "none";

    });
</script>