@model HalloDoc.Entities.ViewModels.AssignCaseViewModel

<div class="modal-header">
    <h5 class="modal-title">Assign Request</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="myForm" asp-controller="Admin" asp-action="AssignRequest" asp-route-id="@Model.RequestClientID">
    <div class="modal-body">
        <small>To Assign this Request, search and select another Physician.</small>
      
        <div class=" d-flex justify-content-center flex-column  ">
         
            <select asp-for="regionID" id="regionSelect" class="form-select required">
                <option value="" >Select Region</option>
                @foreach (var i in Model.Region)
                {
                    <option value="@i.RegionId">@i.Name</option>
                }
            </select>
             <span asp-validation-for="regionID" class="text-danger"></span>

            <select class="form-select mt-1  h-50" name="physicianID" asp-for="physicianID" id="physicianSelect"  >
                <option value=""  >Select Physician</option>
                
            </select>
            <span asp-validation-for="physicianID" class="text-danger"></span>

            <div class="form-floating mt-1 form-group  rounded-3">
                <textarea asp-for="AdditionalNotes" class="form-control" id="additionalNotes" style="height: 120px;" rows="8" placeholder=" "></textarea>
                <label class="form-label" for="textAreaExample2">
                    Discription
                </label>
                @* <span  class="text-danger validate"></span> *@
                <span class="text-black"></span>
            </div>


        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      
        <button class="createNewReqBtn submitBtn" type="submit">
            Confirm
        </button>

        <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
            Cancle
        </button>


    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#regionSelect").change(function () {
            var regionId = $(this).val();
            var url = "/Admin/GetPhysiciansByRegion?regionId=" + regionId;
           
           

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#physicianSelect option").remove();
                    $("#physicianSelect").append('<option value="0" Selected>Select Physician</option>');

                    data.map((x) => {
                      
                        $("#physicianSelect").append('<option value="' + x.physicianId + '">' + x.firstName + '</option>');
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });
    });



    $('#myForm').on('submit', function (e) {
       
        e.preventDefault();
        var additionalNotes = $('#additionalNotes').val();
        if (additionalNotes == null || additionalNotes == "") {
            document.getElementsByClassName("validate")[0].innerText = "Please enter additional notes.";
            return;
        }
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();

        $.ajax({
            type: "POST",
            url: url,
            data: data
        })
            .done(function (response) {
                if (response.success) {
                    let timerInterval;
                    Swal.fire({
                        title: "Request Assigned Successfully",
                        icon: "success",
                        timer: 1000,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    }).then(function () {
                        window.location.href = '@Url.Action("Dashboard", "Admin")';
                    });
                }
            });
    });

</script>

