@model ChatDetailsViewModel;
@inject IHttpContextAccessor HttpContextAccessor

@{
    string outDiv = "";
}
<div class="offcanvas offcanvas-end chatbox" tabindex="-1" id="offcanvasRight">
    <div class="offcanvas-header bg-info">

        <div class="fw-bold mx-3">
            <h5 id="offcanvasRightLabel">
                @if (@HttpContextAccessor?.HttpContext?.Request.Cookies["UserID"] != null)
                {
                    <span>Admin</span>
                }
                else
                {
                    <span class="text-white">
                        @Model.RecieverName

                    </span>
                }
            </h5>
        </div>
        <div class="">
            <i class="bi bi-arrows-fullscreen fw-bold mx-1 text-white" style="cursor:pointer"></i>
            <i class="bi bi-fullscreen-exit d-none mx-1 text-white" style="cursor:pointer"></i>
            <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x text-white" style="font-size:20px"></i></button>
        </div>

    </div>
    <div class="offcanvas-body d-flex" style="margin-bottom:10rem">
        <div class="row p-1 d-flex align-content-end mb-5 position-absolute" id="pdiv" style="overflow-x:hidden;margin-bottom:40px;">

            @foreach (var item in Model.Chats)
            {
                outDiv = (item.ChatBoxClass == "Sender" ? "end" : "start");
                <div class="d-flex flex-column try align-items-@outDiv mb-2" >
                    <div class="@item.ChatBoxClass px-3 py-1 " style="border:1px solid lightgray ;border-radius:5px;" id="chhek">@item.Message</div>
                    @* <div class="chatDate">@item.ChatDate</div> *@
                </div>
            }
            <div class="appendmsg d-flex flex-column align-items-end mb-2 d-none" id="apd">
                <div class=" px-3 py-1 mainmsg" style="border:1px solid lightgray ;border-radius:5px;"></div>
            </div>

        </div>
    </div>
    <div class="mx-3 msg bg-white pb-5 pt-1" style="position:fixed;bottom:0px;width:400px;z-index:1000;">
        <div class="form-inline d-flex">
            <input type="text" placeholder="Message" class="chatInput form-control w-75 mx-2" id="Message" />
            <button class="submit btn btn-info text-white" type="submit" onclick="ChatSubmit()"><i class="bi bi-send"></i></button>
            <input type="hidden" asp-for="SenderId" id="SenderId" />
            <input type="hidden" asp-for="RecieverId" id="RecieverId"/>
        </div>
    </div>
</div>

<script>

  
    $("#offcanvasRight").offcanvas("show");
    function ChatSubmit() {
        console.log("Function chat submit success");

        var SenderId = $('#SenderId').val();
        var RecieverId = $('#RecieverId').val();
        var Message = $('#Message').val();
        var Items = {
            SenderId: SenderId,
            RecieverId: RecieverId,
            Message: Message,
        }
        $.ajax({
            method: "POST",
            url: "/Custom/Chat",
            data: {
                model: Items,
            },
            success: function (data) {
                $('.appendmsg').removeClass('d-none');
                $('.mainmsg').append(data)  ;
                $('input[type="text"]').val('');
              
            },
            error: function () {
                console.log("Function Fail")
            }

        });
    }

</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.on("ReceiveMessage", function () {
        GetChat();
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });
    $('.bi-arrows-fullscreen').on('click', function () {
        $('.chatbox').addClass('w-100');
        $('.bi-arrows-fullscreen').addClass('d-none');
        $('.bi-fullscreen-exit').removeClass('d-none');
        $('.msg').addClass('w-100');
        $('.form-control').removeClass('w-75');
        $('.form-control').addClass('wText');
    });
    $('.bi-fullscreen-exit').on('click', function () {
        $('.chatbox').removeClass('w-100');
        $('.bi-arrows-fullscreen').removeClass('d-none');
        $('.bi-fullscreen-exit').addClass('d-none');
        $('.msg').removeClass('w-100');
        $('.form-control').addClass('w-75');
        $('.form-control').removeClass('wText');
    });
</script>
