@model AccountAccessViewModel
<div class="d-flex flex-wrap mt-4">
    @if(Model.MenuNames!=null)
    {
        
    
    @foreach (var menu in Model.MenuNames)
    {
        if (Model.type == 1)
        {
            <p class="mx-1">

                <input type="checkbox" name="roleid" value="@menu.MenuId" class="mx-1">

                <span class="me-2">@menu.Name</span>

            </p>

        }

        if (Model.type == 2)
        {

            <p class="mx-1">

                    <input type="checkbox" name="roleid" value="@menu.MenuId" class="mx-1"
                  @*   @if (Model.rolemenus.Any(rm => rm.MenuId == menu.MenuId))
                    {
                        <text>checked</text>
                    } *@
                    @foreach (var rolemenu in Model.rolemenus)
                    {
                        if (rolemenu.MenuId == menu.MenuId)
                        {
                            <text>checked</text>
                        }
                    }
                    >

                <span class="me-2">@menu.Name</span>

            </p>

        }


    }
    }
</div>
<script>

</script>
