@model TimeSheetViewModel

@if(Model.TimeSheets.Any())
{
    
<div class="table-responsive desktopviewTable">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Bill</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

          @for(var  i=0; i<Model.TimeSheets.Count();i++)
            {
                <tr>


                    <td>
                        
                        @Model.TimeSheets[i].startDate
                    </td>
                    <td>
                      @Model.TimeSheets[i].item

                    </td>
                    <td>
                        @Model.TimeSheets[i].amount
                    </td>
                    <td>
                        @Model.TimeSheets[i].billname
                    </td>
                    <td>
                        <div>
                                @{
                                    var bill = Model.physicianID + "_" + Model.TimeSheets[i].startDate + "_bill.pdf";
                                }
                                <a class="btn btn-outline-info hide" href="~/uploads/Bill/@bill" target="_blank">View</a>

                        </div>
                    </td>
                </tr>
               
            }
        </tbody>
    </table>

    </div>
}
else
{
    <span class="p-5 ">No record(s) found</span>
}