body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.61);
}

.darkMode {
    background-color: rgb(27, 27, 27);
    color: white;
}
/*#region media queries*/
@media only screen and (max-width: 576px) {
    .PatientInfo {
        width: 90%;
    }

    .button {
        width: 80%;
    }
}

@media only screen and (min-width: 577px) and (max-width:768px) {
    .PatientInfo {
        width: 90%;
    }

    .button {
        width: 60%;
    }
}

@media only screen and (min-width: 769px) and (max-width:992px) {
    .PatientInfo {
        width: 80%;
    }

    .RegisteredPatient {
        margin-top: 10vh;
    }

    .button {
        width: 40%;
    }
}

@media only screen and (min-width: 993px) {
    .PatientInfo {
        width: 60%;
    }

    .RegisteredPatient {
        margin-top: 10vh;
    }

    .button {
        width: 30%;
    }
}
/*#endregion*/
/*
#region pop up model*/
.swal-modal {
    text-align: center;
}

.swal-text {
    text-align: center;
}

.swal-button-container {
    display: flex;
    justify-content: center;
}

.vertical-center {
    min-height: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*#endregion*/
/* #region Patient site  */
.SiteColor {
    color: #01bce9;
    font-weight: 600;
}

.SiteButton {
    Background-color: #01bce9;
    color: white;
    font-weight: 600;
}

.SiteColor:hover {
    color: black;
}

.btn-lg {
    width: 50vw;
}

.backkButton > a, .backButton > i {
    text-decoration: none;
    opacity: 1;
}

.container-fluid {
    height: 100vh;
    width: 100%;
}

.main {
    height: 100vh;
    display: flex;
    width: 100%;
}

.main {
    --bs-gutter-x: 0rem;
}

.img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.right > div > div {
    margin: 4vh 0vh;
}

.mainHeading {
    font-weight: 600;
}
/* Patient Site */
.mainPage {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    align-items: center;
}

.buttonContent {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

    .buttonContent > button {
        width: 50vw;
    }

.PatientSiteLogo {
    width: 25vh;
    height: auto;
}
/*  */
.forgot {
    text-decoration: none;
}

/* #region Floating Lable */

.form-group input,
.form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group label {
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #00bbe8;
    box-shadow: 0 0px 0px white, 0 0 8px white;
}

    .form-group input:focus + label,
    .form-group textarea:focus + label {
        color: #00bbe8;
    }
/*#endregion*/
.switch-mode-inner-div {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 35px;
    height: 38px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    border: 1px solid #2596be;
    align-items: center;
    justify-content: center;
}

.loginImg {
    width: 25vh;
    height: auto;
}

.loginIconfrom {
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
    font-size: 20px;
}

.imgPatientBg {
    position: fixed;
    opacity: 0.1;
    z-index: -1;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* mobile view */
@media only screen and (max-width: 767px) {
    .img {
        position: fixed;
        opacity: 0.1;
        z-index: 0;
    }

    .logoImg {
        margin-top: 0rem;
    }

    .loginImg {
        display: none;
    }

    .PatientSiteLogo {
        display: none;
    }

    .buttonContent {
        margin-top: 0rem;
        place-content: center;
    }

    .backButton > a,
    {
        text-decoration: none;
        opacity: 1;
    }

    /* .right {
    margin-top: 0rem;
  } */
    .PatientSitePage {
        height: 100vh;
    }

    .PatientSitePage {
        background-image: url("../images/PatientSite.jpg");
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        filter: blur(10px);
        background-position: center;
        z-index: -1;
        height: 100vh;
    }

    .RegisteredPatient {
        margin-top: 25vh;
    }
}

@media only screen and (min-width: 768px) {

    .backButton > a,
    .backButton > i {
        opacity: 0;
    }

    .logoImg {
        margin-top: 4rem;
    }

    /* .right {
    margin: auto;
  } */
}

/* Footer */
.footlink > a {
    font-size: small;
    color: gray;
    margin: 0em 1em;
    text-decoration: none;
}

/* #endregion */
/* #region Patient screen Page  */
header {
    position: fixed;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 0px 0px rgb(196, 190, 196);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.headerTabs {
    position: fixed;
    height:31px;
    top: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgb(196, 190, 196);
    width: 100%;
    z-index: 10;
}

.tabs > a {
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #00bbe8;
    margin-left: 10%;
}

    .tabs > a:focus, .tabs > a:active, .tabs > a.active {
        color: #00bbe8;
        border-bottom: 5px solid #00bbe8;
        outline: none;
    }

.mainSection {
    margin-top: 120px;
}

.headerLogo {
    margin-left: 10%;
    width: 50%;
}

.back {
    color: #00bbe8;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: white;
    border: 2px solid #00bbe8;
}

.request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    /* width: 200px; */
    padding: 1em 0em;
    margin: 0.5em 0em;
    text-decoration: none;
    font-weight: 500;
    border-radius: 7px;
}

    .button:hover {
        background-color: whitesmoke;
        color: black;
    }

.Patient {
    background-color: #E9EAEF;
    color: #676CA3;
    border: 1px solid #676CA3;
    /* Light Blue */
}

.Family {
    background-color: #E5F2F8;
    color: #5cb5d8;
    border: 1px solid #5698AE;
    /* Sky Blue */
    /* Sky Blue */
}

.Concierge {
    color: #588044;
    border: 1px solid #588044;
    background-color: #E9F0E8;
    /* Pale Green */
}

.Business {
    color: #FFB0D4;
    border: 1px solid #FFB0D4;
    background-color: #F3E8EE;
    /* Light Pink */
}

/* #endregion */
/* #region Create Patient Request  */
.PatientInfo {
    background-color: white;
}

form > *,
form > div > div {
    margin: 1em 0em;
}



.btn-submit {
    background-color: #00bbe8;
    border: 1px solid #00bbe8;
    padding: 0.5em 1em;
    color: white;
}

    .btn-submit:hover {
        background-color: #059cc2;
        color: white;
    }

.btn-primary-outline {
    border: 1px solid #00bbe8;
    padding: 0.5em 1em;
    color: #00bbe8;
    border-radius: 3px;
}

.iti {
    width: 100%;
}

.iti--allow-dropdown {
    max-width: 100%;
    height: 50%;
}


/* #endregion  */
/*#region Patient Dashboard*/

.mainContent {
    margin-top: 150px;
    width: 90%;
}

.createNewReqBtn {
    text-decoration: none;
    color: #00bbe8;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: white;
    border: 2px solid #00bbe8;
}

.logout {
    border-radius: 5px;
    border: 2px solid #00bbe8;
    align-items: center;
    padding: 5px;
    color: #00bbe8;
    background-color: white;
    justify-content: center;
    text-decoration: none;
}
.logoutIcon {
    display: none;
}
.righttabs > * {
    margin: 1px;
}

.submitBtn {
    background-color: #00bbe8;
    color: white;
}

.routeModal:focus, .modal-header {
    background-color: #00bbe8;
    color: white;
}

.moon-icon {
    border: 2px solid #00bbe8;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}
.normalbtn {
    border: 1px solid #00bbe8;
    color: #00bbe8;
    background-color:white;
    padding:7px;
    border-radius:7px;
 
}
.MainHeaderLogo {
    width: 10rem;
    display: flex;
    align-items: center
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border:none;
}
.nav-tabs>li>a{
    border:none;
}

    /*#endregion*/
    .modal {
    vertical-align: middle;
    border-radius: 100px;
}

.modal-header, .modal-footer {
    border: 0;
}


.topnav {
    overflow: hidden;
    position: fixed;
    height: 60px;
    background-color: white;
    box-shadow: 0px 1px 0px 0px rgb(196, 190, 196);
    top: 0;
    width: 100%;
    z-index: 1000;
}
    .topnav a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .topnav .icon {
        display: none;
    }
.mobileviewdashboard {
    background-color: #ebfafd;
}
.table-btn {
    border: none;
    background-color: #ebfafd;
}
@media screen and (max-width: 768px) {
    .dashboardtbl
    {
        display:none;
    }
    #usernamedashboard {
        display: none;
    }

    .topnav a.icon {
        float: left;
        display: flex;
        align-items: center;
        vertical-align: middle;
    }

    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

    .logouttxt {
        display: none;
    }

    .logoutIcon {
        display: block;
    }
    input[type="file"]::-webkit-file-upload-button {
        display: none;
    }

    input[type="file"]::before {
        position: absolute;
        right: 0;
        top: 0;
        padding: 17px;
        content: '';
        background: url('../images/cloud-arrow-up.svg') no-repeat center center;
        display: inline-block;
        background-color: #00bbe8;
        color: black;
        width: 50px;
        text-align: center;
        float: right;
        background-position-y: center;
    }
    
}
@media screen and (min-width: 769px) {
    .mobileviewdashboard,.mbltbl{
        display:none;
    }
    input[type="file"]::-webkit-file-upload-button {
        display: none;
    }

    input[type="file"]::before {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px;
        content: 'Upload';
        background: url('../images/cloud-arrow-up.svg') no-repeat 16px ;
       
        display: inline-block;
        background-color: #00bbe8;
        color: black;
        width: 120px;
        text-align: center;
        float: right;
        background-position-y: center;
    }
}