
@model FamilyFriendRequestViewModel


<div class="mainSection">
    <div class="d-flex flex-column align-items-center justify-content-center ">

        <div class="PatientInfo">
            <a asp-action="PatientSubmitRequest" asp-controller="Patient" style="display: flex; justify-content: flex-end; right: 0px;text-decoration: none;
                ">
                <button class="back ">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>
        <div class="   p-4 shadow mb-3  rounded h-100 PatientInfo">
            <form asp-action="ConciergeRequest" asp-controller="Patient">
                <h3>Concierge Information</h3>
               
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-floating form-group">
                            <input asp-for="ClientFirstName" type="text" class="form-control" id=" " placeholder=" ">
                            <label for="">Your First Name</label>
                            <span asp-validation-for="ClientFirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-floating form-group">
                            <input asp-for="ClientLastName" type="text" class="form-control" id="" placeholder=" ">
                            <label for=" ">Your Last Name </label>
                            <span asp-validation-for="ClientLastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="ClientPhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" />

                        </div>
                        <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-floating form-group">
                            <input asp-for="CLientEmail" type="email" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Your Email</label>
                            <span asp-validation-for="CLientEmail" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-floating form-group">
                            <input asp-for= "ClientProperty" type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Hotel Property Name</label>

                        </div>
                    </div>

                </div>



                <h3>Concierge Information</h3>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="ClientStreet" type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Street</label>
                            <span asp-validation-for="ClientStreet" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="ClientCity"   type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">City </label>
                            <span asp-validation-for="ClientCity" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="ClientState"   type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">State</label>
                            <span asp-validation-for="ClientState" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="ClientZipCode"   type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Zip code</label>
                            <span asp-validation-for="ClientZipCode" class="text-danger"></span>

                        </div>
                    </div>


                </div>

                <h3>Patient Information</h3>
                <div class="form-floating form-group ">

                    <textarea  asp-for="Symptoms"  class="form-control " id="textAreaExample2" style="height: 120px;" rows="8"
                              placeholder=" "></textarea>
                    <label class="form-label" for="textAreaExample2">
                        Enter Brief Details Of Symptoms
                        (Optional)
                    </label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>

                </div>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName"   type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="LastName "   type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="DateOfBirth"   type="date" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Date Of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                        </div>
                    </div>

                </div>

                <h3>Patient Contact Information</h3>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"   type="email" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="PhoneNumber" id="phone2" type="tel" style="border: none;height: 54px;" />

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                </div>

                <h3>Patient Location</h3>

                <div class="row ">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input type="text" class="form-control" id=" " placeholder=" ">
                            <label for=" ">Room # / Suite (Optional)</label>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-12 d-flex " style="justify-content:flex-end;align-items:center">
                        


                        <input type="submit" class="createNewReqBtn submitBtn" value="Submit">
                            <a asp-action="PatientSubmitRequest" asp-controller="Patient" class="btn ">
                                <button type="button" class="createNewReqBtn">
                                    Cancle
                                </button>

                            </a>

                       
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInputField1 = document.querySelector("#phone2");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>