<div class="mainContent mx-auto">
    <h2>Medical History</h2>
    <div class="container-fluid mt-3 shadow mb-3  rounded h-100 p-4 " style="background-color:white">
        <div class="d-flex justify-content-end">
            <a asp-action="PatientRequest" asp-controller="Patient" class="createNewReqBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"> Create New Request</a>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create New Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <p class="">
                                Here,I want to create new request for...
                            </p>
                            <div class=" d-flex justify-content-center ">
                                <button type="button" class="createNewReqBtn routeModal" >
                                    Me
                                </button>
                             
                            

                                <button type="button" class="createNewReqBtn routeModal mx-3" >
                                    Someone Else
                                </button>


                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button" class="createNewReqBtn submitBtn">Continue</button>

                            <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
                                Cancle
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>