@{
    Layout = "~/Views/Shared/_RegisterdPatientLoginLayout.cshtml";
}
@model HalloDoc.Entities.Models.CreateAccountViewModel

@{
    if (ViewBag.Message != null)
    {
        <p class="text-danger text-center fs-3">@ViewBag.Message</p>
    }

}

<div class="backkButton">
    <i class="bi bi-chevron-left SiteColor"></i>
    <a asp-controller="Patient" asp-action="RegisterdPatientLogin" class="SiteColor">Back</a>

</div>
<div class="text-center ">

<div class="login">
    <h3 class="mainHeading">
      Reset Your Password
    </h3>
</div>

    <form asp-controller="Patient" asp-action="PatientForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class=" form-floating form-group">
            <i class="bi bi-person-circle loginIconfrom"></i>
            <input asp-for="Email"  type="text" id="email" class="form-control " placeholder=" " />
            <label for="email">Username</label>
            <span  class="text-danger"></span>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
            <div class="form-floating form-group">
                <input asp-for="PasswordHash" type="password" class="form-control" id="passwordFields1" placeholder="Password">
                <label for=" " id="passwordFieldslable1">Password</label>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>

            </div>
            <div class="form-floating form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="passwordFields2" placeholder="Password">
                <label for=" " id="passwordFieldslable2"> ConfirmPassword</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

        
        <div class="input-group d-flex justify-content-between">
            <input type="submit" class="SiteButton  px-4 py-2 w-100 " style="text-decoration:none;color:white;border:none" value="Reset Password" />
        </div>
    </form>


   
<div class="forgot ">
        <small><a asp-controller="Patient" asp-action="RegisterdPatientLogin" class="forgot  SiteColor">
                <i class="bi bi-chevron-left SiteColor"></i>

            Back To Login</a></small>
</div>

</div>
