
@model HalloDoc.Models.PatientRequestViewModel

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<div class="mainSection ">
    <div class="d-flex flex-column align-items-center justify-content-center ">
    

        <div class="PatientInfo">

            @if (@HttpContextAccessor?.HttpContext?.Session.GetString("UserSession") != null)
            {

            <a asp-action="Dashboard" asp-controller="Patient" style="display: flex; justify-content: flex-end; right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
            }
            else{

            <a asp-action="PatientSubmitRequest" asp-controller="Patient" style="display: flex; justify-content: flex-end; right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
            }
        </div>

        <div class="p-4  mb-3 rounded formshadow h-100 PatientInfo">
            <form  method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
                <h3>Patient Information</h3>

                <div class="form-floating form-group ">
                    <textarea asp-for="Symptoms" class="form-control " id="textAreaExample2" style="height: 120px;" rows="8" placeholder=" "></textarea>
                    <label class="form-label" for="textAreaExample2">
                        Enter Brief Details Of Symptoms
                        (Optional)
                    </label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>

                </div>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder=" ">
                            <label for=" ">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="LastName" type="text" class="form-control"  placeholder=" ">
                            <label for=" ">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="DateOfBirth" type="date" class="form-control" placeholder=" ">
                            <label for=" ">Date Of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                        </div>
                    </div>

                </div>

                <h3>Patient Contact Information</h3>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"
                                   id="patientEmail" onblur="AlertName()" type="email" autocomplete="off"
                            class="form-control"  placeholder=" ">
                            <label for=" ">Email</label>

                        </div>
                    </div>
                   

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="PhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" />

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                   
                        <div class="col-lg-6 col-md-6 col-sm-12" id="hide1">
                            <div class="form-floating form-group">
                                <input asp-for="Password" type="password" class="form-control" id="passwordFields1" placeholder="Password">
                                <label for=" " id="passwordFieldslable1">Password</label>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" id="hide2">
                            <div class="form-floating form-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="passwordFields2" placeholder="Password">
                                <label for=" " id="passwordFieldslable2"> ConfirmPassword</label>
                            </div>
                        </div>
                    
                </div>

                <h3>Patient Location</h3>

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Street" type="text" class="form-control"  placeholder=" ">
                            <label for=" ">Street</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="City" type="text" class="form-control" placeholder=" ">
                            <label for=" ">City </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="State" type="text" class="form-control"  placeholder=" ">
                            <label for=" ">State</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="ZipCode" type="text" class="form-control"  placeholder=" ">
                            <label for=" ">Zip code</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input  type="text" class="form-control"  placeholder=" ">
                            <label for=" ">Room # / Suite (Optional)</label>
                        </div>
                    </div>

                </div>
                
                <h3>(Optional) Upload Photo or Document</h3>
         
                <div class="input-group mb-3">
                    <div class="col-12 col-sm-12">
                        <div class="input-group mb-3">
                            <input asp-for="File" style="border-radius:10px" name="File" type="file" class="form-control" id="UploadButton">
                        </div>
                    </div>
                </div> 
              

                <div class="row">

                    <div class="col-12 d-flex " style="justify-content:flex-end;align-items:center">
                        <input type="submit" class="createNewReqBtn submitBtn" value="Submit" onclick="continueToPage()" />

                        <a asp-action="PatientSubmitRequest" asp-controller="Patient" class="btn ">
                            <button type="button" class="createNewReqBtn">
                                Cancle
                            </button>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
   
    function AlertName() {
        var email = document.getElementById("patientEmail").value;

        fetch('/Patient/checkemail/' + email)
            .then(response => response.json())
            .then(data => {
                var patientPassword = document.getElementById('passwordFields1');
                var patientConfirmPassword = document.getElementById('passwordFields2');
                var label1= document.getElementById('hide1');
                var label2 = document.getElementById('hide2');

                if (data.exists) {
                    patientPassword.style.display = 'none';
                    patientConfirmPassword.style.display = 'none';
                    label1.style.display = 'none';
                    label2.style.display = 'none';

                 
                }
                else {
                    patientPassword.style.display = 'block';
                    patientConfirmPassword.style.display = 'block';
                    label1.style.display = 'block';
                    label2.style.display = 'block';


                   
                }
            })
            .catch(error => console.error('Error:', error));
    }

    if (localStorage.getItem("Mytheme")) { 
        body.classList.toggle(localStorage.getItem("Mytheme"));
    }

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    var flag = document.getElementsByClassName('iti__selected-flag');
    window.onload = function () {

        $("#hide1").hide();
        $("#hide2").hide();

        var input = document.querySelector("#phone");
        input.removeAttribute("title");


    }
</script>