@model HalloDoc.Entities.ViewModels.PatientRequestViewModel;


<div class="mainSection ">
    <div class="d-flex flex-column align-items-center justify-content-center ">


        <div class="PatientInfo">
            <a asp-action="Dashboard" asp-controller="Patient" style="display: flex; justify-content: flex-end; right: 0px; text-decoration: none; ">
                <button class="back mb-3">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>

        <div class="p-4 formshadow mb-3  rounded h-100 PatientInfo">
            <form asp-controller="Patient" asp-action="EditUser" method="post" enctype="multipart/form-data">

        
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h4>General Information</h4>


                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">First Name</label>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                                <input asp-for="LastName" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Last Name</label>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                                <input asp-for="DateOfBirth" type="date" class="form-control" placeholder=" " >
                            <label for=" ">Date Of Birth</label>

                        </div>
                    </div>

                </div>

                <h4> Contact Information</h4>
                <div class="row ">

                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-between ">
                        <div class="col-4 "> 

                            <div class="form-floating  ">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" readonly>
                                    <option selected>Mobile </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Type </label>
                            </div>
                        </div>
                        <div class="col-8 ">
                            <div class="form-floating form-group  border">
                                    <input asp-for="PhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" readonly />

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"
                                   id="patientEmail" onblur="AlertName()" type="email" autocomplete="off"
                                       class="form-control" placeholder=" " readonly>
                            <label for=" ">Email</label>

                        </div>
                    </div>

                </div>

                <h4> Location Information</h4>

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                                <input asp-for="Street" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Street</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                                <input asp-for="City" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">City </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <select class="form-select form-select-sm h-100" aria-label="Default select example" aria-height="5vh" asp-for="RegionId">
                            <option value="0" selected disabled>State</option>

                            @foreach (var region in Model.State)
                            {
                                <option value="@region.RegionId">@region.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                                <input asp-for="ZipCode" type="text" class="form-control" placeholder=" " readonly>
                            <label for=" ">Zip code</label>
                        </div>
                    </div>


                </div>

                   
                   
                <div class="row ">

                    <div class="col-12 d-flex " style="justify-content:flex-end;align-items:center">
                    <input type="button" id="edit-button" style=" color: white;width: 90px;height: 50px;" class="btn btn-info  p-2 m-2" value="Edit">

                
                    <input type="submit" class="btn btn-info p-2 m-2" style=" color: white;width: 90px;height: 50px;display:none; " value="Save" disabled />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    var editButton = document.getElementById("edit-button");
    editButton.addEventListener("click", function () {
        var form = editButton.closest("form");
        var inputs = form.querySelectorAll("input[readonly]");
        var select = form.querySelectorAll("select[disabled]");

        var saveButton = form.querySelector("input[type='submit']");
        inputs.forEach(function (input) {
            input.removeAttribute("readonly");
        });
        select.forEach(function (select) {
            select.removeAttribute("disabled");
        });
        saveButton.removeAttribute("disabled");
        saveButton.style.display = "block";

        editButton.style.display = "none";

    });
</script>