@{
    Layout = "~/Views/Shared/_RegisterdPatientLoginLayout.cshtml";
}
<div class="backkButton" >

    <a asp-controller="Patient" asp-action="PatientSite" class="SiteColor">
    <i class="bi bi-chevron-left SiteColor"></i>
            Back
        </a>
  
</div>
<div class="text-center ">


                <div class="login">
                    <h3 class="mainHeading">
                        Login into your account
                    </h3>
                </div>

                <div class=" form-floating form-group">
                    <i class="bi bi-person-circle "></i>
                    <input type="text" class="form-control form-control-lg" placeholder=" " />
                    <label for="text">Username</label>
                </div>


                <div class=" form-floating form-group">
                    <i class="bi bi-eye"></i>
                    <input type="password" class="form-control  " id="pwd" placeholder=" ">
                    <label for="pwd">Password</label>
                </div>
                <div class="input-group d-flex justify-content-between">
        <a asp-controller="Patient" asp-action="Dashboard" class="SiteButton  px-4 py-2 w-100 " style="text-decoration:none;color:white">
                   Login
                    </a>
        

                </div>
                <div class="forgot ">
    <small><a asp-controller="Patient" asp-action="PatientForgotPassword" class="forgot SiteColor">Forgot Password?</a></small>
                </div>

</div>